.header {
  position: relative;
  padding: 40px 20px;
  border-bottom: 1px solid gray;
}
.nav {
  display: flex;
  flex-direction: column;
  gap: 20px;
  font-size: 26px;
  transition: 0.4s ease-in-out;
  span {
    transition: 0.4s ease-in-out;
    &:hover {
      color: #a52a2a;
    }
  }
}
.header__btn {
  position: absolute;
  top: 15px;
  left: 20px;
}
.active {
  color: #a52a2a;
}
