.header {
  position: relative;
  padding: 20px;
  border-bottom: 1px solid gray;
}
.nav {
  display: flex;
  justify-content: center;
  gap: 35px;
  font-size: 20px;
  transition: 0.4s ease-in-out;
  span {
    transition: 0.4s ease-in-out;
    &:hover {
      color: #a52a2a;
    }
  }
}
.header__btn {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 20px;
}
.active {
  color: #a52a2a;
}
